.restaurant-card {
  width: 100%;
  background: white;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.restaurant-card-header {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-01);
}

.restaurant-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-card-like-container {
  aspect-ratio: 1/1;
  display: block;
  background-color: white;
  border-radius: 50%;
  border: solid var(--border-width) var(--border-color);
  padding: var(--spacing-h);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.restaurant-card-like {
  font-size: var(--size-500);
}

.restaurant-card-tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-01);
}

.restaurant-card-title-bar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-01);

  padding: var(--spacing-h) var(--spacing-02);
  background-color: var(--color-pink-03);
  color: white;
}

.restaurant-card-indicators {
  /* border-radius: var(--border-radius); */
  /* width: max-content; */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-01);
}

.restaurant-card-header,
.restaurant-card-footer,
.restaurant-card-content {
  padding: var(--spacing-02) var(--spacing-02);
}

.restaurant-card-footer {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--spacing-01);
  /* border-top: var(--border-width) solid var(--border-color); */
}

.restaurant-card-content {
  flex: 1 1 auto;
}
